/* GENERAL */
* {
    box-sizing: border-box;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

.container, ._960px, ._600px {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    padding: 0px 30px;
}

._960px {
    max-width: 960px;
}

._600px {
    max-width: 600px;
}

hr {
    border: 2px solid #fafafa;
    max-width: 100px;
    margin: 40px auto;
}

hr.separator-red {
    border: 4px solid #dd453c;
}


.img-responsive {
    width: 100%;
    height: auto;
}

/* TEXTS */
h1, h2, h3, h4 {
    font-family: 'Poppins', 'Roboto Slab', Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    margin-top: 10px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.3rem;
    padding: 0 15px;
}

.text-center {
    text-align: center;
}

h2.subtitle {
    margin-bottom: 10px;
}

h2.left-align {
    padding: 0;
    text-align: left;
}

/* BUTTONS */
.btn {
    display: inline-block;
    font-family: 'Poppins', 'Lato', Arial, Helvetica, sans-serif; 
    color: #f7f5f7;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    transition: .2s all;
}

.btn:hover {
    transition: .3s all;
}

.btn-red {
    background-color: #b73734;
}

.btn-red:hover, .btn-red:active, .btn-red:focus {
    background-color: #dd453c;
}

.btn-yellow {
    background-color: #edb400;
}

.btn-yellow:hover, .btn-yellow:active, .btn-yellow:focus {
    background-color: #ffc800;
}

.btn-red-negativo {
    background-color: transparent;
    color: #dd453c;
    border: 1px solid #dd453c;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2), inset 1px 1px 5px rgba(0,0,0,.2);
    transition: .5s all ease-in-out;
}

.btn-red-negativo:hover, .btn-red-negativo:active, .btn-red-negativo:focus {
    background-color: #dd453c;
    color: #f7f5f7;
    box-shadow: 1px 1px 20px rgba(0,0,0,.2), inset 0px 0px 0px rgba(0,0,0,.2);
    transition: .5s all ease-in-out;
}

.btn-white {
    background-color: #f7f5f7;
    color: #dd453c;
}

.btn-white:hover, .btn-white:active, .btn-white:focus {
    color: #333;
    box-shadow: 1px 1px 20px rgba(0,0,0,.2);
}


/* FORMS */
input, textarea {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

input {
    height: 40px;
}

input[type="submit"] {
    cursor: pointer;
}

.form-control {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form-control > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.form-inline-two > div {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .form-control {
        margin-top: 10px;
        flex-direction: row;
    }
    .form-inline-two > div {
        width: 48%;
    }
}

/* BG */
.bg-rounded-white {
    background-color: #f7f5f7;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    padding: 15px;
    color: #333;
}

.bg-red {
    background-color: #dd453c;
    background-image: linear-gradient(120deg, #dd453c 0%, #b73734 74%);
    color: #f7f5f7;
}

.bg-blue {
    background-color: #6aaecd;
    color: #f7f5f7;
}

.bg-light {
    background-color: #ede9ec;
}

/* SPACING */
section {
    padding: 60px 0;
    color: #333;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

/* NAVBAR - TOP */
.topbar {
    width: 100%;
    padding: 20px;
    position: fixed;
    padding: 20px 0 0 0;
    z-index: 10;
    background-color: transparent;
    box-shadow: 0;
    transition: .5s all ease;
}

.topbar.scrolled {
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 7px rgba(0,0,0,.2);
    transition: .5s all ease;
}

.topbar.white.scrolled {
    background-color: #294659;
}

.topbar > div {
    display: flex;
    align-items: flex-end;
    padding: 0;
    flex-direction: column;
}

.logo-brand {
    max-width: 150px;
}

.nav-brand {
    width: 100%;
    padding: 0 15px 15px 15px;
    display: flex;
}

.nav-toggle {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #dd453c;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.topbar.white .nav-toggle {
    background-color: #edb400;
}

.nav-toggle span {
    width: 100%;
    border-top: 3px solid #fff;
    display: block;
}

.nav-collapse {
    display: none;
    position: relative;
    background-color: #fafafa;
    padding: 10px 20px;
    width: 100%;
}

.topbar.white .nav-collapse {
    background-color: #294659;
}

.nav-collapse > div {
    width: 100%;
    margin-right: auto;
}

.navbar {
    align-items: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

.navbar li, .footer-mapa ul li {
    list-style: none;
}

.nav-collapse li {
    width: 100%;
    display: block;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.nav-collapse li:last-child, .nav-collapse li:nth-last-child(2) {
    border-bottom: none;
}

.navbar li > a {
    color: #333;
    font-family: 'Poppins', 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    transition: .2s all;
}

.navbar li > a:hover {
    color: #dd453c;
    transition: .2s all;
}

.topbar.white .navbar li > a {
    color: #f7f5f7;
}

.topbar.white .navbar li > a:hover {
    color: #ffc800;
}

.navbar li:last-child {
    margin-left: auto;
}

#menu-cta {
    color: #f7f5f7;
    padding: 10px;
}


/* HOME - HEADER */
.home-header {
    background: url(../img/banner-inicial.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 450px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 0;
    padding-bottom: 20px;
}

.home-header > div > div {
    max-width: 500px;
}

.home-header p {
    font-size: 1rem;
    font-weight: lighter;
}


/* HOME - SOBRE */
.sobre > div p {
    max-width: 500px;
}


/* HOME - VALORES */
.valor-item {
    text-align: center;
    max-width: 100%;
    margin-bottom: 30px;
}

.valor-item img {
    max-width: 100px;
}


/* HOME - CURIOSIDADES */
.curiosidades-itens {
    max-width: 400px;
    margin: 0 auto;
}

.curiosidades-itens > div {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.curiosidades > .bg-rounded-white {
    border-radius: 0;
    padding: 20px 15px;
}

.curiosidades-itens > div p {
    margin: 0;
    margin-left: 30px;
}

.curiosidades h2 {
    margin-bottom: 5px;
}

.curiosidades h3 {
    font-weight: 300;
    text-align: center;
}

/* HOME - SERVICOS */
.servico-item {
    background-color: #f7f5f7;
    padding: 0;
    margin-top: 50px;
}

.servico-item img {
    max-width: 100%;
}

.servico-item > div {
    padding: 30px;
}

.servico-produtos {
    margin-bottom: 25px;
}

.servico-produtos > div {
    flex-direction: row;
    display: inline-flex;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0;
}

.servico-produtos img {
    max-width: 30px;
    margin-right: 10px;
}

.servico-produtos p {
    font-family: 'Poppins', 'Lato', Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: bold;
    margin: 0;
}

.servico-item h3, .servico-item > div > p {
    text-align: center;
}

.servicos-cta {
    margin-top: 35px;
    text-align: center;
    display: block;
}

.servicos .servico-item:nth-child(odd) > img {
    order: 0;
}


/* HOME - SOLUCOES */
.solucoes h4 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.17em;
}

.solucoes-itens {
    margin-top: 40px;
    flex-wrap: wrap;
}

.solucoes-itens > div {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.solucoes-itens > div > img {
    max-width: 100px;
}

.solucoes-itens > div > p {
    max-width: 200px;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 15px;
}

.solucoes-chamada {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solucoes-chamada h4 {
    font-weight: bold;
    font-size: 1rem;
}

.solucoes-cta {
    margin-top: 30px;
}


/* HOME - DEPOIMENTOS */
.citacao {
    display: flex;
    flex-direction: column;
}

.citacao-fonte {
    align-self: flex-end;
    text-align: right;
    font-weight: bold;
}

.citacao blockquote {
    font-size: 1.4rem;
    font-style: italic;
    margin: 0;
    line-height: 1.5;
}

.clientes-logo img {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin-bottom: 20px;
}


/* HOME - CTA */
.home-cta {
    text-align: center;
}

.home-cta p{
    margin: 0 0 20px 0;
    font-size: 1.2rem;
}


/** PAGINAS INTERNAS **/
/* HEADER */
.pagina-header {
    background-size: cover;
    height: 100vh;
    max-height: 410px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 0;
    padding-bottom: 25px;
}

.pagina-titulo {
    max-width: 500px;
    color: #f7f5f7;
    text-align: left;
}

.pagina-titulo h4 {
    font-style: italic;
    font-weight: 300;
    font-size: 1.3rem;
}

.pagina-titulo hr {
    background-color: #f7f5f7;
    border: 1px solid #f7f5f7;
    max-width: 90px;
    margin: 10px 0;
    font-size: 1.3rem;
}

.pagina-titulo p {
    margin-top: 5px;
    font-size: 1.45rem;
    line-height: 1.3;
    font-weight: lighter;
}

/** SOBRE **/
.sobre-header {
    background: url(../img/sobre/banner-sobre.png) center no-repeat;
}

.sobre-historia-valores {
    background-color: #f7f5f7;
    text-align: center;
    padding: 25px;
}

.sobre-historia-valores > div {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.sobre-historia-valores img {
    max-width: 50px;
}

.sobre-historia-valores h4 {
    font-weight: lighter;
    font-style: italic;
    margin-left: 10px;
}

.sobre-time div.flex > div {
    margin-top: 20px;
}

.sobre-redes-sociais {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.time-certificacoes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.time-certificacoes img {
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
}

@media screen and (min-width: 768px) {
    .sobre-historia-valores > div {
        display: block;
        margin-top: 25px;
    }
    .historia {
        margin-left: 30px;
    }
    .sobre-time div.flex > div {
        margin-left: 20px;
    }
    .sobre-time .bg-rounded-white {
        padding: 20px 30px;
    }
}

@media screen and (min-width: 1024px) {
    .topbar.white .nav-collapse {
        background-color: transparent;
    }
    .sobre-redes-sociais {
        justify-content: flex-start;
    }
    .sobre-redes-sociais img:last-child {
        margin-left: 20px;
    }
    .sobre-time div.flex > div {
        margin-left: 50px;
    }
    .sobre-historia .flex {
        justify-content: space-evenly;
    }
    .historia {
        width: 50%;
    }
    .sobre-historia-valores > div {
        display: flex;
    }
}


/** SERVICOS **/
.servicos-categoria {
    max-width: 600px;
}

.servico-item:nth-child(odd) .servicos-categoria {
    margin-left: auto;
}

.servico-item:nth-child(even) .servicos-categoria {
    margin-right: auto;
}

.servicos-acessar {
    justify-content: space-between;
    align-items: center;
}

.servicos-acessar a {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 30px;
}

.consultores-cta {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .servico-item:nth-child(odd) .servicos-categoria {
        margin-right: 30px;
    }
    .servico-item:nth-child(even) .servicos-categoria {
        margin-left: 30px;
    }
    .servicos-acessar a {
        max-width: 48%;
        padding: 10px;
    }
    .servicos-acessar {
        margin-top: 30px;
    }
    .consultores-cta {
        padding: 10px 70px;
    }
}

@media screen and (min-width: 1024px) {
    .servicos-acessar a {
        max-width: 40%;
    }
}


/* CONTATO */
.contato {
    min-height: 100vh;
}

.contato-form {
    width: 100%;
}

.contato-form h3 {
    text-align: center;
    font-weight: lighter;
}


.contato-form input[type="submit"] {
    width: 100%;
    margin-top: 20px;
}

.contato-redes {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 50px;
}

.contato-redes > .logo {
    margin-bottom: 20px;   
}

.contato-redes > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: lighter;
    padding: 0 20px;
}

.contato-redes > div h4 {
    font-weight: lighter;
}

.contato-redes > div img {
    max-width: 50px;
    margin-right: 10px;
}

hr.blue {
    border: 2px solid #294659;
    max-width: 100px;
    width: 100%;
    margin: 25px auto;
}

@media screen and (min-width: 768px){
    .bg-rounded-white.contato-form {
        padding: 30px 20px;
    }
    .contato-redes {
       margin-left: 20px;
    }
    .form-control > div {
        margin-top: 10px;
    }
}


@media screen and (min-width: 1024px){
    .bg-rounded-white.contato-form {
        padding: 30px 45px;
    }
    .contato-form {
        width: 80%;
    }
    .contato-redes {
        padding: 0 40px;
    }
    .contato-redes > div {
        padding: 0 50px;
    }
}

/* FOOTER */
footer {
    color: #f7f5f7;
}

.footer-conteudo {
    background-color: #333;
    padding: 10px;
}

.footer-conteudo > div > div {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.footer-mapa {
    text-align: center;
}

.footer-mapa li {
    margin-top: 10px;
}

.footer-mapa li > a {
    color: #f7f5f7;
    font-family: 'Poppins', 'Lato', Arial, Helvetica, sans-serif;
}

.footer-mapa .menu-cta {
    font-weight: bold;
}

.footer-redes-sociais > div img {
    max-width: 30px;
    margin-right: 0;
}

.footer-redes-sociais h4 {
    text-transform: uppercase;
    text-align: center;
}

.footer-redes-sociais > div  {
    max-width: 250px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.footer-redes-sociais > div > div {
    margin-bottom: 20px;
}

.footer-about {
    text-align: center;
}

.footer-about img {
    max-width: 200px;
}

.footer-about p {
    font-size: 0.9rem;
}

.footer-copyright {
    background-color: #282828;
}

.footer-copyright p {
    text-align: center;
    font-weight: lighter;
    margin: 0;
    padding: 10px;
    font-size: .8rem;
}


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .container {
        padding: 0px 50px;
    }

    h1, h2, h3, h4 {
        line-height: 1.1;
    }
    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.17rem;
    }
    p {
        font-size: 1.2rem;
    }
    section h2 {
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
    
    .bg-rounded-white {
        padding: 30px 45px;
    }

    .flex {
        flex-direction: row;
    }
    
    .home-header {
        text-align: left;
        padding: 50px;
    }
    .home-header p {
        font-size: 1.3rem;
    }
    
    .sobre img {
        max-width: 250px;
        margin-right: 25px;
    }
    .sobre p {
        margin-top: 0;
    }

    .valor-item {
        max-width: 30%;
        margin-bottom: 0;
    }

    .curiosidades > .bg-rounded-white {
        border-radius: 10px;
        padding: 30px;
    }
    
    .servico-item {
        align-items: stretch;
        padding: 0;
    }
    .servico-item img {
        max-width: 40%;
    }
    .servico-item > div {
        padding: 50px;
    }
    .servico-produtos {
        margin-bottom: 0;
    }
    .servico-produtos p {
        font-size: 1rem;
    }
    .servicos .servico-item:nth-child(odd) > img {
        order: 2;
    }
    .servico-item h3, .servico-item > div > p {
        text-align: left;
    }
    .servicos-cta {
        text-align: left;
        display: inline-block;
    }

    .solucoes-itens > div {
        max-width: 30%;
    }
    .solucoes-itens > div > img {
        max-width: 150px;
    }
   
    .solucoes-chamada h4 {
        font-size: 1.5rem;
    }
    
    .citacao blockquote {
        font-size: 1.8rem;
    }
    .clientes-logo {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .clientes-logo img {
        margin-bottom: 20px;
    }

    .footer-conteudo {
        padding: 40px;
    }
    .footer-conteudo > div > div {
        max-width: 33%;
        margin-bottom: 0;
    }
    .footer-conteudo > div > div:nth-child(2) {
        margin: 0 50px;
    }
    .footer-mapa {
        text-align: left;
    }
    .footer-mapa ul, .footer-mapa li:first-child {
        margin-top: 0;
    }
    .footer-mapa li {
        margin-top: 10px;
    }   
    .footer-redes-sociais > div img {
        margin-right: 20px;
    }
    .footer-redes-sociais > div > div {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .nav-toggle {
        display: none;
    }
    .nav-brand {
        width: auto;
    }
    .topbar {
        padding: 0;
        padding-top: 20px;
    }
    .topbar > div {
        flex-direction: row;
    }
    .nav-collapse {
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
    }
    .nav-collapse > div {
        display: flex;
        justify-content: flex-end;
    }
    .nav-collapse li {
        display: inline;
        padding-bottom: 0;
        border-bottom: 0;
    }
    .navbar {
        width: auto;
        justify-content: space-around;
        margin-left: auto;
    }
    .navbar li {
        margin-right: 30px;
    }

    .servico-item {
        align-items: center;
    }
    .servico-item > div {
        padding: 35px;
    }

}
