//Slick Nav Core
.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: left;
    padding: .857em;
    line-height: 1.125em;
    cursor: pointer;
    .slicknav_icon-bar + .slicknav_icon-bar {
        margin-top: 0.188em;
    }
}

.slicknav_menu {
    *zoom: 1;
    padding: .857em 0;
    .slicknav_menutxt {
        display: block;
        line-height: 1.168em;
        float: left;
    }
    .slicknav_icon {
        width: 1.125em;
        &:before {
            // Firefox Mobile v42 bugfix
            background: transparent;
            width: 1.168em;
            height: 0.857em;
            display: block;
            content: "";
            position: absolute;
        }
    }
    .slicknav_no-text {
        margin: 0;
    }
    .slicknav_icon-bar {
        display: block;
        width: 1.125em;
        height: 2px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.slicknav_nav {
    background-color: $white;
    clear: both;
    ul {
        display: block;
    }
    li {
        display: block;
    }
    .slicknav_arrow {
        font-size: 0.8em;
        margin: 0 0 0 0.4em;
        vertical-align: top;
    }
    .slicknav_item {
        cursor: pointer;
        a {
            display: inline;
        }
    }
    .slicknav_row {
        display: block;
    }
    a {
        display: block;
    }
    .slicknav_parent-link a {
        display: inline;
    }
}

.slicknav_brand {
    float: left;
}

.slicknav_menu {
    box-sizing: border-box;
    background: $color_bg;
    * {
        box-sizing: border-box;
    }
    .slicknav_menutxt {
        color: $color_text;
        font-weight: 600;
    }
    .slicknav_icon-bar {
        background-color: $color_text;
        font-size: 22px;
    }
}

.slicknav_btn {
    text-decoration: none;
    background-color: $color_btn;
}

.slicknav_nav {
    color: $color_text;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 9999;
    position: relative;
    ul {
        list-style: none;
        overflow: hidden;
        padding: 0;
    }
    .slicknav_row {
        &:hover {
            background: $color_hover_bg;
            color: $color_text;
        }
    }
    a {
        text-decoration: none;
        color: $color_text;
        &:hover {
            background: $color_hover_bg;
            color: $color_hover_text;
        }
    }
    .slicknav_txtnode {
        margin-left: 15px;
    }
    .slicknav_item a {
        padding: 0;
        margin: 0;
    }
    .slicknav_parent-link a {
        padding: 0;
        margin: 0;
    }
}

.slicknav_brand {
    color: $color_text;
    font-size: 18px;
    line-height: 30px;
    padding: 7px 12px;
    height: 44px;
}
